<amplify-authenticator>
  <amplify-sign-out></amplify-sign-out>
  <div *ngIf="!(linkstatus=='GRANTED' || linkstatus=='DOWN') else loadScreen">
    <div align="center">

      <div class="container" fxLayout="row" fxLayoutWrap fxLayoutAlign="center center" style="height: 100%;">
        <div fxFlex="100%" fxFlex.gt-xs="60%" style="height: 100%;">

          <ng-container *ngIf="!linkStart else deleteRequest">
            <img src="../assets/link_your_account.jpg" height="400" width="400" class="link-prompt-image">
            <mat-vertical-stepper [linear]="isLinear" #stepper>
              <mat-step label="Fill out CM id">
                <mat-form-field class="fitform">
                  <mat-label>Enter CM id</mat-label>
                  <input matInput placeholder="johndoe@sbx.com" name='kjlasdf' [(ngModel)]="cmId">
                </mat-form-field>
                <div>
                  <button mat-raised-button matStepperNext color="primary">next</button>
                </div>
              </mat-step>
              <!-- #docregion label -->
              <mat-step label="Confirm Data request">

                The following data will be collected (over last 2 years)

                <br />
                <br />
                <div align="start" style="width: 200px;">
                  1. Discharge Summary <br />
                  2. Diagnostic Report<br />
                  3. OP Consultation<br />
                  4. Prescription<br />
                </div>


                <button mat-raised-button matStepperNext color="primary" (click)="sendCmRequest()">next</button>

              </mat-step>

              <mat-step label="Approve the request in your CM">
                <!-- #enddocregion label -->
                {{linkstatus}}
              </mat-step>


            </mat-vertical-stepper>
          </ng-container>

          <ng-template #deleteRequest>
            <h1>Request Status: {{linkstatus}}</h1>
            You can either accept the request or you can cancel and restart linking process
            <button mat-stroked-button color="warn" (click)="deleteCmRequest()">Delete/Cancel the request</button>
          </ng-template>




        </div>
      </div>



    </div>
  </div>
  <router-outlet></router-outlet>
</amplify-authenticator>

<ng-template #loadScreen>
  <strong>
    <nav mat-tab-nav-bar [backgroundColor]="'primary'" mat-align-tabs="center">
      <a mat-tab-link *ngFor="let link of links" (click)="setActiveLink(link)" [active]="activeLink == link"> {{link}}
      </a>
    </nav>
  </strong>
</ng-template>